@using SoftUniGamesApp.Web.ViewModels.Comment;
@model AddCommentInputModel;

<h2>Comment your thoughts...</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Message">Comment Message</label>
        <input asp-for="Message" class="form-control" />
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Upload Comment</button>
</form>

<a asp-action="Index">Back to comment list</a>
