@using static SoftUniGamesApp.Common.ApplicationConstants;
@using SoftUniGamesApp.Data.Models;
@model IEnumerable<Comment>

<h2>Comments on this game</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Message</th>
            <th>Comment Date</th>
            <th>Likes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model)
        {
            <tr>
                <td>@comment.Message</td>
                <td>@comment.CommentDate</td>
                <td>@comment.LikedUsers.Count</td>
                <td>
                    <a asp-action="Like" asp-route-id="" class="btn btn-info">Like</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Comment on this game...</a>
