@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <p>Explore our list of game uploaded by people like you.</p>
    <p>Track and download your favourites, or even upload your own!</p>
</div>
